{% extends 'base.html'%}
{% block head %}
	<title>Home Page</title>
{% endblock %}

{% block body %}

	<div style="text-align:center; align-items:center;" class="jumbotron">
      <div class="col-sm-8 mx-auto">

        <h1 style="text-align: center;">Tigran Arshakyan</h1>
        <p>My name is Tigran Arshakyan, I am self-taught full-stack Web Developer. This is my portfolio. I have courses on Youtube, and I am documenting my journey. Check out the  <a href="/posts">Reviews</a> page.
        <p>If you want to contact me, there are my social network's pages.</p>
        <p>
          <a class="btn btn-danger bg-danger" href="https://www.youtube.com/channel/UCQ0EA2gkRMqTJ_nAMibqdlQ" role="button">Youtube</a>
          <a class="btn btn-dark bg-dark" href="https://github.com/Tik2004" role="button">GitHub</a>
          <a class="btn btn-light bg-light text-danger" href="https://www.instagram.com/ar______t__10/ " role="button">Instagram</a>
          <a class="btn btn-info bg-info" href="https://twitter.com/Tigran98083404" role="button">Twitter</a>
          <a class="btn btn-primary bg-primary" href="https://www.facebook.com/profile.php?id=100007902258039" role="button">Facebook</a>
        </p>
      </div>
    </div>
        <h2 id="checkout">▼Check out some of my videos▼</h2>


<div id="carouselExampleControls" style="margin-top: 50px;" class="carousel slide videofrom" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	    <div class="embed-responsive embed-responsive-16by9">
	  		<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/pw_XejaD9sQ"></iframe>
		</div>
    </div>
    <div class="carousel-item">
	    <div class="embed-responsive embed-responsive-16by9">
	  		<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/FvQqcVfmPOY"></iframe>
		</div>
    </div>
      <div class="carousel-item">
	    <div class="embed-responsive embed-responsive-16by9">
	  		<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/5sZm0bgenVA"></iframe>
		</div>
    </div>
  </div>
  <a style="width:60px;" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a style="width:60px;" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <h2 id="journeyread">▼Read about my journey▼</h2>
	<div style="text-align:center; align-items:center;" class="jumbotron">
      <div class="col-sm-8 mx-auto">

        <h1 style="text-align: center;">Tigran Arshakyan</h1>
        <p class="uno">I started to learn programming at 18 april, 2020, I created this portfolio at 6 July.</p>
        <p class="dos">First I tried to learn Python, with reading books and watching basics of it</p>
          <p class="tres">I read some books about syntax, algorithms and other stuff</p>
          <p class="cuatro">After I started learning ReactJS, after 2 weeks, I made few projects with it.</p>
          <p class="cinco">Suddenly for me, i found out NodeJs, and started making back-end.</p>
          <p class="seis">But, I didn't actually like it, so I was looking for alternatives.</p>
          <p class="siete">I was not able to grab knowledge from different places, I wanted all together in one video.</p>
          <p class="ocho">Some time passed, I learned syntax and basics of C and C++, wrote little programs, and forgot about them.</p>
          <p class="nueve">After it, I found out Unity3d, and started to learn it.</p>
          <p class="diez">Made 1 arcade game, Brackeys course helped me with it.</p>
          <p class="siete">Still working on my bigger game , but got less time for it.</p>
          <p class="uno">After it, at 4 July, I found out Flask, It returned me back to web.</p>
          <p class="cuatro">It was really easy to learn, and I liked Jinja2 syntax too.</p>
          <p class="nueve">I learned basics of GSAP for animations</p>
          <p class="diez">Made little ToDo app with really great animations, on which I had really hard work.</p>
          <p class="dos">And after made this site.</p>
          <p class="tres">On my plans is learning Flask really deep.</p>
          <p class="cinco">Thank for reading :)</p>
      </div>
      </div>

{% endblock %}